.header {
  background-image: url('../images/header-bg.png');
  background-position: center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    // @include content-padding-inline;
  }

  &__bottom {
    padding-bottom: 288px;

    @include on-tablet {
      padding-bottom: 456px;
    }
  }
  &__title {
    display: flex;
    justify-content: center;

    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    color: $main-text-color;
    text-align: center;
    letter-spacing: -1.5px;
    vertical-align: middle;

    @include on-tablet {
      margin-bottom: 0;
      font-size: 64px;
      line-height: 64px;
    }
  }
}
