$table-min-width: 576px;
$desktop-min-width: 1024px;
$main-text-color: #FFF;
$main-dark-color: #161616;
$main-accent-color: #d12d35;


@mixin on-tablet{
  @media (min-width: $table-min-width) {
    @content;
  }
}

@mixin on-desktop{
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline(){
  padding-inline: 20px;

  @include on-tablet{
    padding-inline: 72px;
  }

  @include on-desktop{
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

@mixin hover($property, $toValue){
  transition: #{$property} 0.3s;
  &:hover{
    #{$property}: $toValue;
  }
}

// #region page
.page {
  scroll-behavior: smooth;

  font-family: Cinzel, serif;
  font-size: 16px;
  line-height: 27px;
  color: $main-text-color;

  &__body {
    margin: 0;
  }

  &__menu {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);

    opacity: 0;
  
    transition: all 0.3s;

    &:target {
      pointer-events: all;
      transform: translateX(0);
      opacity: 1;
    }
  }
  
}

.roboto {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: $main-dark-color;
  letter-spacing: 0;
}

// #endregion
// #region header
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100vh;

  background-image: url('../images/header-bg.png');
  background-position: center;
  background-size: cover;

  &__bottom {
    padding-bottom: 288px;

    @include content-padding-inline;

    @include on-tablet{
      padding-bottom: 456px;
    }

  }
  &__title {
    display: flex;
    justify-content: center;

    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    color: $main-text-color;
    text-align: center;
    letter-spacing: -1.5px;
    vertical-align: middle;

    @include on-tablet{
      margin-bottom: 0;
      font-size: 64px;
      line-height: 64px;
    }
  }
}

// #endregion
// #region icon
.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../images/icons/phone.svg);
  }

  &--menu {
    background-image: url(../images/icons/burger-menu.svg);
  }
  &--close {
    background-image: url(../images/icons/close.svg);
  }
}

// #endregion
// #region top-bar


.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 25px;

  @include content-padding-inline;
  

  @include on-tablet {
    padding: 50px 72px;
    padding-block: 50px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo {
    display: flex;
    width: 64px;
    height: 46px;
    
    @include hover(transform, scale(1.2));
    
    @include on-tablet{
      width: 87px;
      height: 65px;
    }

  }
}

// #endregion
// #region menu
.menu {
  box-sizing: border-box;
  height: 100vh;

  font-weight: 700;
  font-style: bold;
  text-transform: uppercase;

  background-color: $main-accent-color;

  &__top {
    margin-bottom: 15px;
  }

  &__nav {
    margin-bottom: 32px;
  }
  
  &__content {
    @include content-padding-inline;
  }

  &__phone-number {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
  }
  
  &__phone-number__title {
    margin: 0 0 8px;

    font-size: 16px;
    line-height: 27px;
    color: inherit;
    text-decoration: none;
    letter-spacing: 0;
    vertical-align: middle;
  }
  
  &__phone-number__link {
    font-size: 16px;
    line-height: 27px;
    color: inherit;
    text-decoration: none;
    letter-spacing: 0;
    vertical-align: middle;
  }
  
  &__call-to-order {
    position: relative;

    width: fit-content; 
    margin-top: 8px;
    
    font-size: 12px;
    line-height: 16px;
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;

    &::after{
      content: '';

      position: absolute;
      bottom: -7px;
      transform: scale(0);

      display: block;

      width: 100%;
      height: 1px;

      background-color: $main-text-color;

      transition: transform 0.3s;
    }
  
    &:hover::after{
      transform: scale(1);
    }
  }
}

.nav__link {
  position: relative;

  font-size: 22px;
  line-height: 22px;
  color: inherit;
  text-decoration: none;
  letter-spacing: 2px;
  vertical-align: middle;

  &::after{
    content: '';

    position: absolute;
    bottom: -7px;
    transform: scale(0);

    display: block;

    width: 100%;
    height: 1px;

    background-color: #FFF;

    transition: transform 0.3s;
  }

  &:hover::after{
    transform: scale(1);
  }

}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin: 0;
  padding: 0;

  list-style: none;
}



// #endregion

// #region main


.main {
  display: grid;
  row-gap: 100px;
  padding-block: 100px;
  color: $main-dark-color;

  @include content-padding-inline;

  @include on-tablet{
    row-gap: 140px;
    padding-block: 140px;
  }

  @include on-desktop{
    row-gap: 140px;
    padding-block: 140px;
  }
}


// #endregion


// #region sections
.section-title {
  margin: 0;
  margin-bottom: 48px;

  font-size: 32px;
  font-weight: 700;
  font-style: bold;
  line-height: 32px;
  text-align: center;
  letter-spacing: -1.5px;
  

  // @include on-tablet{
  //   font-size: 48px;
  //   line-height: 48px;
  // }

  // @include on-desktop{
  //   font-size: 64px;
  //   line-height: 64px;
  // }

  // &--align-left {
  //   text-align: left;
  // }
} 


// #endregion


// #region about-us
// #endregion

// #region now-on-view

// #endregion

// #region explore

.explore-online{
  &__cards{
    display: grid;
    row-gap: 48px;
    

    @include on-desktop{
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      align-items: start;
    }
  }


}


.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    text-align: center;
  

  &__photo{
    max-width: 280px;
    

    @include on-tablet{
      max-width: 392px;
    }

    @include on-desktop{
      max-width: 324px;
    }
  }

  &__title{
    margin: 24px 0 4px;

    font-size: 24px;
    font-weight: 700;
    font-style: Bold;
    line-height: 140%;
    color: $main-accent-color;
    letter-spacing: 0; 

    @include on-tablet{
      margin-top: 32px;
    }
  }

  &__info{
    margin: 0;
  }
}



// #endregion

// #region footer
// .footer{

// }
// #endregion
