.top-bar {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 25px;

  @include on-tablet {
    padding-block: 50px;
  }

  &__logo {
    display: flex;
    width: 64px;
    height: 46px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 87px;
      height: 65px;
    }
  }

  &__icons {
    position: relative;
    display: flex;
    gap: 24px;

    .top-bar__info {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%);

      padding: 10px;

      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      color: $main-text-color;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 0;
      white-space: nowrap;

      opacity: 0;

      transition: opacity 0.3s;
    }

    @include on-desktop {
      .icon--phone:hover + .top-bar__info {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}
