$table-min-width: 576px;
$desktop-min-width: 1024px;
$main-text-color: #fff;
$main-dark-color: #161616;
$main-accent-color: #d12d35;
$hover-button-color: #ae1c23;
$pressed-button-color: #eb343d;
$input-bd-color: #f8f8fa;
$placeholder-color: #7e7e83;
$hover-border-color: #d5d7de;
